@font-face {
	font-family: gravityBook;
	src: url("./fonts/Gravity-Book.otf");
}

.section {
	font-family: gravityBook;
	font-size: 0.9rem;
}

.hero {
	font-family: gravityBook;
}

.hero h1 {
	color: #fff;
	width: 100%;
	font-size: 4rem;
	text-shadow:
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black,
	-1px 0px 0 black,
	1px 0px 0 black,
	0px 1px 0 black,
	0px -1px 0 black;
}

.button {
	background-color: white;
	border: none;
	color: black;
}

.button:after {
}

.button:hover:after {
}

.button:focus {
	box-shadow: none !important;
}

.student:after {
	content: "Student.";
}

.student:hover:after {
	content: "At Rice University.";
	color: #61abe8;
}

.programmer:after {
	content: "Programmer.";
}

.programmer:hover:after {
	content: "SDE Intern @ Amazon.";
	color: #ff9900;
}

.creator:after {
	content: "Creator.";
}

.creator:hover:after {
	content: "On Youtube.";
	color: #cc181e;
}

.tellMeMore:after {
	content: "Tell me more.";
}

.tellMeMore:hover:after {
	content: "Sure! Why not.";
	color: #40cc00;
}

.hidden {
	display: none;
}
